@import 'https://fonts.googleapis.com/css2?family=Kanit:wght@400;600&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Kanit:wght@400;600&display=swap';
.btn, .btn-transparent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
  border: 0;
  line-height: 1;
  font-family: "Kanit", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  height: 3rem;
  padding: 0 1.5rem;
  background-color: #1fc7d4;
  border-radius: 1rem;
  cursor: pointer;
}
.btn:hover, .btn-transparent:hover {
  opacity: 0.65;
}
.btn:active, .btn-transparent:active {
  opacity: 0.85;
  transform: translateY(1px);
}

.btn-transparent {
  color: #1fc7d4;
  background-color: transparent;
  padding: 0;
}

.btn-switch {
  position: relative;
  display: inline-block;
  width: 3.5rem;
  height: 2rem;
}
.btn-switch input[type=checkbox] {
  opacity: 0;
  width: 0;
  height: 0;
}
.btn-switch input[type=checkbox]:checked + span {
  background-color: #31d0aa;
}
.btn-switch input[type=checkbox]:focus + span {
  box-shadow: 0 0 1px #2196F3;
}
.btn-switch input[type=checkbox]:checked + span:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
}
.btn-switch span {
  border-radius: 34px;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.btn-switch span:before {
  border-radius: 50%;
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 3px;
  background-color: white;
}
.btn-switch span input:hover + span:before, .btn-switch span input:focus + span:before {
  box-shadow: rgb(118, 69, 217) 0px 0px 0px 1px, rgba(118, 69, 217, 0.6) 0px 0px 0px 4px;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}

img {
  width: 100%;
}

.section-prizes, .section-cake {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-cont {
  max-width: 968px;
  width: 100%;
  padding: 100px 24px;
}

.section-prizes {
  width: 100%;
  min-height: 200px;
  background: linear-gradient(#0b4576, #091115);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  position: relative;
  overflow: hidden;
}
.section-prizes .prizes-img-positioner {
  position: absolute;
  width: 512px;
  height: 521px;
}
@media screen and (max-width: 850px) {
  .section-prizes .prizes-img-positioner {
    width: 192px;
    height: 192px;
  }
}
.section-prizes .prizes-img-positioner:nth-child(1) {
  left: 0;
  bottom: -64px;
}
.section-prizes .prizes-img-positioner:nth-child(2) {
  right: -10px;
  top: -64px;
}
.section-prizes .prizes-img-positioner .prizes-img-container {
  width: 100%;
  height: 100%;
  position: relative;
}
.section-prizes .prizes-img-positioner .prizes-img-container .prizes-img {
  position: absolute;
}
.section-prizes .prizes-img-positioner .prizes-img-container .prizes-img:nth-child(1) {
  animation: floating4 3s ease-in-out 1s infinite normal none running;
}
@keyframes floating4 {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(-10px, -20px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
.section-prizes .prizes-img-positioner .prizes-img-container .prizes-img:nth-child(2) {
  animation: floating4 3s ease-in-out 0.66s infinite normal none running;
}
@keyframes floating4 {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(-10px, -20px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
.section-prizes .prizes-img-positioner .prizes-img-container .prizes-img:nth-child(3) {
  animation: floating4 3s ease-in-out 0.33s infinite normal none running;
}
@keyframes floating4 {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(-10px, -20px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
.section-prizes .prizes-img-positioner .prizes-img-container .prizes-img:nth-child(4) {
  animation: floating4 3s ease-in-out 0s infinite normal none running;
}
@keyframes floating4 {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(-10px, -20px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
.section-prizes .prizes-img-positioner .prizes-img-container .prizes-img:nth-child(5) {
  animation: floating4 3s ease-in-out 0s infinite normal none running;
}
@keyframes floating4 {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(-10px, -20px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
.section-prizes .prizes-img-positioner .prizes-img-container .prizes-img img {
  width: 100%;
  height: auto;
}
.section-prizes .center-prizes {
  position: relative;
  backdrop-filter: blur(12px);
  min-width: 100px;
  min-height: 100px;
  padding: 40px;
  margin: 48px 0px;
  background: rgba(8, 6, 11, 0.6) none repeat scroll 0% 0%;
  border: 1px solid rgb(56, 50, 65);
  border-radius: 72px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.section-prizes .center-prizes .prizes-description-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.section-prizes .center-prizes .prizes-description-container .prizes-title-container {
  text-align: center;
}
.section-prizes .center-prizes .prizes-description-container .prizes-title-container .hStyle h2 {
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  color: #9a6aff;
}
.section-prizes .center-prizes .prizes-description-container .prizes-title-container .hStyle h2 span {
  color: #fff;
  font-size: 2rem;
  font-family: "Kanit", sans-serif;
}
.section-prizes .center-prizes .prizes-description-container .prizes-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.section-prizes .center-prizes .prizes-description-container .prizes-text-container .prizes-text span {
  color: rgb(184, 173, 210);
  font-size: 16px;
  font-family: "Kanit", sans-serif;
}
.section-prizes .center-prizes .prizes-cards-container {
  margin-top: 30px;
}
@media screen and (min-width: 850px) {
  .section-prizes .center-prizes .prizes-cards-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}
.section-prizes .center-prizes .prizes-cards-container .cardsContainer {
  width: auto;
}
.section-prizes .center-prizes .prizes-cards-container .cardsContainer .biggerC .bText h2 {
  height: auto;
  margin: 0;
  font-size: 40px;
  color: rgb(40, 13, 95);
  font-weight: 600;
  font-family: "Kanit", sans-serif;
}
@media screen and (min-width: 850px) {
  .section-prizes .center-prizes .prizes-cards-container .cardsContainer:first-of-type {
    transform: rotate(-1.43deg);
  }
  .section-prizes .center-prizes .prizes-cards-container .cardsContainer:last-of-type {
    transform: rotate(1.43deg);
  }
}
.section-prizes .center-prizes .prizes-cards-container .cardsContainer:last-of-type .biggerC {
  background-color: #3c1786;
}
.section-prizes .center-prizes .prizes-cards-container .cardsContainer:last-of-type .biggerC .bCard {
  background: rgba(0, 0, 0, 0) linear-gradient(rgb(118, 69, 217) 0%, rgb(81, 33, 177) 100%) repeat scroll 0% 0%;
}
.section-prizes .center-prizes .prizes-cards-container .cardsContainer:last-of-type .biggerC .bCard .bLogo .containerIcons .icons.lottery {
  fill: #fff;
}
.section-prizes .center-prizes .prizes-cards-container .cardsContainer:last-of-type .biggerC .bCard .bText .lTitle,
.section-prizes .center-prizes .prizes-cards-container .cardsContainer:last-of-type .biggerC .bCard .bText .lTitle2,
.section-prizes .center-prizes .prizes-cards-container .cardsContainer:last-of-type .biggerC .bCard .bText .paraghBC {
  color: #fff;
}
.section-prizes .center-prizes .prizes-cards-container .cardsContainer:last-of-type .biggerC .bCard .bText h2 {
  background: -webkit-linear-gradient(rgb(255, 216, 0), rgb(253, 171, 50));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.buy-cake {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 100%;
  height: auto;
  margin-bottom: 24px;
}
.buy-cake .buy-cake-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  align-items: center;
  z-index: 1;
  padding: 48px 0px;
  width: 100%;
}
.buy-cake .buy-cake-container .small-buy-cake-container {
  width: 100%;
  max-width: 968px;
  margin: 0px;
}
.buy-cake .buy-cake-container .small-buy-cake-container .buy-cake-text-and-svg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 100%;
}
.buy-cake .buy-cake-container .small-buy-cake-container .buy-cake-text-and-svg .small-buy-cake-text-and-svg {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: auto;
  gap: 0;
  width: 100%;
}
@media screen and (max-width: 688px) {
  .buy-cake .buy-cake-container .small-buy-cake-container .buy-cake-text-and-svg .small-buy-cake-text-and-svg {
    display: flex;
    flex-direction: column-reverse;
    justify-content: auto;
    align-items: auto;
    gap: 0;
  }
}
.buy-cake .buy-cake-container .small-buy-cake-container .buy-cake-text-and-svg .small-buy-cake-text-and-svg .buy-cake-text {
  display: flex;
  flex-direction: column;
  align-self: center;
  flex: 1 1 0%;
  margin-right: 64px;
  width: 50%;
}
@media screen and (max-width: 688px) {
  .buy-cake .buy-cake-container .small-buy-cake-container .buy-cake-text-and-svg .small-buy-cake-text-and-svg .buy-cake-text {
    width: 100%;
    padding-top: 90px;
    margin: auto;
  }
}
.buy-cake .buy-cake-container .small-buy-cake-container .buy-cake-text-and-svg .small-buy-cake-text-and-svg .buy-cake-text .buy-cake-h2-text {
  width: 100%;
}
.buy-cake .buy-cake-container .small-buy-cake-container .buy-cake-text-and-svg .small-buy-cake-text-and-svg .buy-cake-text .buy-cake-h2-text h2 {
  font-size: 2rem;
  font-family: "Kanit", sans-serif;
  color: #fff;
  line-height: 1.1;
  margin-bottom: 24px;
}
.buy-cake .buy-cake-container .small-buy-cake-container .buy-cake-text-and-svg .small-buy-cake-text-and-svg .buy-cake-text .buy-cake-h2-text span {
  color: #9a6aff;
}
.buy-cake .buy-cake-container .small-buy-cake-container .buy-cake-text-and-svg .small-buy-cake-text-and-svg .buy-cake-text .buy-cake-p-text {
  font-size: 1rem;
  font-family: "Kanit", sans-serif;
  color: #b8add2;
  margin-bottom: 24px;
}
.buy-cake .buy-cake-container .small-buy-cake-container .buy-cake-text-and-svg .small-buy-cake-text-and-svg .buy-cake-text .buy-cake-buttons {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 16px;
  width: 40%;
}
@media screen and (max-width: 688px) {
  .buy-cake .buy-cake-container .small-buy-cake-container .buy-cake-text-and-svg .small-buy-cake-text-and-svg .buy-cake-text .buy-cake-buttons {
    width: 60%;
  }
}
.buy-cake .buy-cake-container .small-buy-cake-container .buy-cake-text-and-svg .small-buy-cake-text-and-svg .buy-cake-text .buy-cake-buttons p {
  cursor: pointer;
  color: #1fc7d4;
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  line-height: 1.5;
  font-size: 1rem;
}
.buy-cake .buy-cake-container .small-buy-cake-container .buy-cake-text-and-svg .small-buy-cake-text-and-svg .buy-cake-text .buy-cake-buttons p a:hover {
  text-decoration: #1fc7d4 underline;
}
.buy-cake .buy-cake-container .small-buy-cake-container .buy-cake-text-and-svg .small-buy-cake-text-and-svg .buy-cake-text .buy-cake-buttons .btn-cake {
  color: white;
  width: 148px;
  height: 48px;
}
.buy-cake .buy-cake-container .small-buy-cake-container .buy-cake-text-and-svg .small-buy-cake-text-and-svg .buy-cake-svg {
  width: 50%;
  position: relative;
  flex: 1 1 0%;
  box-sizing: border-box;
}
@media screen and (max-width: 688px) {
  .buy-cake .buy-cake-container .small-buy-cake-container .buy-cake-text-and-svg .small-buy-cake-text-and-svg .buy-cake-svg {
    width: 100%;
    height: 200px;
  }
}
.buy-cake .buy-cake-container .small-buy-cake-container .buy-cake-text-and-svg .small-buy-cake-text-and-svg .buy-cake-svg img {
  position: absolute;
  top: -50px;
  left: 0px;
  width: 90%;
}
@media screen and (max-width: 688px) {
  .buy-cake .buy-cake-container .small-buy-cake-container .buy-cake-text-and-svg .small-buy-cake-text-and-svg .buy-cake-svg img {
    left: 140px;
    top: -120px;
    width: 220px;
  }
}
.buy-cake .buy-cake-container .small-buy-cake-container .buy-cake-text-and-svg .small-buy-cake-text-and-svg .buy-cake-svg img:nth-child(1) {
  animation: floating4 3s ease-in-out 0.66s infinite normal none running;
}
@keyframes floating4 {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(10px, 15px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
.buy-cake .buy-cake-container .small-buy-cake-container .buy-cake-text-and-svg .small-buy-cake-text-and-svg .buy-cake-svg img:nth-child(2) {
  animation: floating4 3s ease-in-out 1s infinite normal none running;
}
@keyframes floating4 {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(8px, 20px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
.buy-cake .buy-cake-container .small-buy-cake-container .buy-cake-text-and-svg .small-buy-cake-text-and-svg .buy-cake-svg img:nth-child(3) {
  animation: floating4 3s ease-in-out 0.33s infinite normal none running;
}
@keyframes floating4 {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(11px, 10px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
.buy-cake .buy-cake-container .small-buy-cake-container .buy-cake-text-and-svg .small-buy-cake-text-and-svg .buy-cake-svg img:nth-child(4) {
  animation: floating4 3s ease-in-out 0s infinite normal none running;
}
@keyframes floating4 {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(10px, 15px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
.buy-cake .buy-cake-container .small-buy-cake-container .buy-cake-numbers-stats {
  font-family: "Kanit", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: auto;
  align-items: auto;
  gap: 30px;
  margin-top: 84px;
}
@media screen and (max-width: 688px) {
  .buy-cake .buy-cake-container .small-buy-cake-container .buy-cake-numbers-stats {
    display: flex;
    flex-direction: row;
    justify-content: auto;
    align-items: auto;
    gap: 0;
  }
}
.buy-cake .buy-cake-container .small-buy-cake-container .buy-cake-numbers-stats .buy-cake-numbers-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: auto;
  gap: 0;
  text-align: flex-start;
}
@media screen and (max-width: 688px) {
  .buy-cake .buy-cake-container .small-buy-cake-container .buy-cake-numbers-stats .buy-cake-numbers-row {
    display: flex;
    flex-direction: column;
    justify-content: auto;
    align-items: auto;
    gap: 0;
    width: 100%;
  }
}
@media screen and (max-width: 688px) {
  .buy-cake .buy-cake-container .small-buy-cake-container .buy-cake-numbers-stats .buy-cake-numbers-row:nth-child(2) .buy-cake-numbers-square {
    border-left: #f4eeff 1px solid;
    padding-left: 16px;
  }
}
.buy-cake .buy-cake-container .small-buy-cake-container .buy-cake-numbers-stats .buy-cake-numbers-row .buy-cake-numbers-square {
  width: 33.3%;
  display: flex;
  flex-direction: column;
  justify-content: auto;
  align-items: auto;
  gap: 2px;
}
@media screen and (max-width: 688px) {
  .buy-cake .buy-cake-container .small-buy-cake-container .buy-cake-numbers-stats .buy-cake-numbers-row .buy-cake-numbers-square {
    width: 100%;
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 689px) {
  .buy-cake .buy-cake-container .small-buy-cake-container .buy-cake-numbers-stats .buy-cake-numbers-row .buy-cake-numbers-square:nth-child(2) {
    border-left: #f4eeff 1px solid;
    padding-left: 16px;
  }
}
@media screen and (min-width: 689px) {
  .buy-cake .buy-cake-container .small-buy-cake-container .buy-cake-numbers-stats .buy-cake-numbers-row .buy-cake-numbers-square:nth-child(3) {
    border-left: #f4eeff 1px solid;
    padding-left: 16px;
  }
}
.buy-cake .buy-cake-container .small-buy-cake-container .buy-cake-numbers-stats .buy-cake-numbers-row .buy-cake-numbers-square p {
  color: #b8add2;
  font-weight: 400;
  font-size: 1rem;
}
.buy-cake .buy-cake-container .small-buy-cake-container .buy-cake-numbers-stats .buy-cake-numbers-row .buy-cake-numbers-square h3 {
  color: #f4eeff;
  font-size: 1.5rem;
  font-weight: 600;
}

.section-cake {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px;
  background-color: rgb(8, 6, 11);
}
@media screen and (max-width: 688px) {
  .section-cake {
    padding-top: 50px;
  }
}

.cardsContainer {
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 3rem;
  padding-top: 10px;
}
.cardsContainer .biggerC {
  width: 291px;
  height: 366px;
  padding: 1px;
  background-color: #ffb237;
  border-radius: 24px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: auto;
  gap: 0;
}
.cardsContainer .biggerC .bCard {
  width: calc(100% - 2px);
  height: calc(100% - 5px);
  background: linear-gradient(rgb(255, 178, 55) 0%, rgb(255, 205, 81) 51.17%, rgb(255, 231, 106) 100%);
  padding: 24px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: auto;
  gap: 0;
}
.cardsContainer .biggerC .bCard .bLogo {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: auto;
  gap: 0;
}
.cardsContainer .biggerC .bCard .bText {
  display: flex;
  flex-direction: column;
  justify-content: auto;
  align-items: auto;
  gap: 0;
}
.cardsContainer .biggerC .bCard .bText .lTitle {
  height: 24px;
  color: rgb(40, 13, 95);
  font-family: "Kanit", sans-serif;
  font-size: 16px;
  font-weight: 600;
}
.cardsContainer .biggerC .bCard .bText .lTitle2 {
  height: 24px;
  color: rgb(40, 13, 95);
  font-family: "Kanit", sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 24px;
}
.cardsContainer .biggerC .bCard .bText .paraghBC {
  height: 48px;
  color: rgb(40, 13, 95);
  font-family: "Kanit", sans-serif;
  font-size: 16px;
  margin-bottom: 40px;
}

/*# sourceMappingURL=cta2.css.map */
