// Animations
@mixin floating ($animation-duration:1.5s, $delay:1s, $x, $y)
   
    @keyframes floating
        0%
            transform: translate(0, 0)
        50%
            transform: translate($x, $y)
        100%
            transform: translate(0, 0)

    animation-name: floating
    animation-duration: $animation-duration
    animation-delay: $delay
    animation-iteration-count: infinite
    transition-timing-function: ease-in-out
    animation-direction: normal
    animation-fill-mode: none
    animation-play-state: running

@mixin floating2 ($animation-duration:1.5s, $delay:1s, $x, $y)
   
    @keyframes floating2
        0%
            transform: translate(0, 0)
        50%
            transform: translate($x, $y)
        100%
            transform: translate(0, 0)

    animation-name: floating2
    animation-duration: $animation-duration
    animation-delay: $delay
    animation-iteration-count: infinite
    transition-timing-function: ease-in-out
    animation-direction: normal
    animation-fill-mode: none
    animation-play-state: running

@mixin floating3 ($animation-duration:1.5s, $delay:1s, $x, $y)
   
    @keyframes floating3
        0%
            transform: translate(0, 0)
        50%
            transform: translate($x, $y)
        100%
            transform: translate(0, 0)

    animation-name: floating3
    animation-duration: $animation-duration
    animation-delay: $delay
    animation-iteration-count: infinite
    transition-timing-function: ease-in-out
    animation-direction: normal
    animation-fill-mode: none
    animation-play-state: running