@import 'https://fonts.googleapis.com/css2?family=Kanit:wght@400;600&display=swap'

@mixin reset-list
  margin: 0
  padding: 0
  list-style: none
  box-sizing:border-box
    img
        width: 100%
    
$rem: 1rem
$bradius16: $rem
$bradius24: calc($rem*1.5)
// Font Family    
$font: font-family: 'Kanit', sans-serif

// Fonts sizes
$p: $rem
$md: calc($rem*1.25)
$lg: calc($rem*1.5)
$xl: calc($rem*2.5)
$xxl: calc($rem*4)

// Fonts weights
$weight400: 400
$weight600: 600

// Fonts line-height
$p-height: 1.1
$h-height: 1.5

//Palette Primary
$purple: #9a6aff  //purple
$magnolia: #f4eeff
$bluebell: #b8add2
$turquoise: #1fc7d4
$white: #fff
$blue-violet: linear-gradient(#7645D9,#452A7A)

// Palette Secondary
$black: #27262c
$rose: #ed4b9e
$lightblack: #08060b
$yellow-crayola: linear-gradient(#ffb237 0%,#ffcd51 51.17%,#ffe76a 100%)
$grey: #353547
$btn-bg-clr-checked: #31d0aa

// Backgrounds
$bg-color1: linear-gradient(#21193a,#191326)
$bg-color2: linear-gradient(#3b4155,#21193a)
$bg-color3: linear-gradient(#0b4576,#091115)
$bg-overlay: background-color: rgba(244, 238, 255, 0.6)

// Animations
$animation-duration: 1.5s
$animation-duration-bunny: 2.5s
$delay: 1s

// mixins
@mixin flex
    display: flex
    justify-content: center
    align-items: center
    gap: $rem

@mixin floating ()
    @keyframes floating
        0%
            transform: translate(0, 0)
        100%
            transform: translate(4px, 4px)

    animation-name: floating
    animation-duration: $animation-duration-bunny
    animation-delay: $delay
    animation-iteration-count: infinite
    transition-timing-function: ease-in-out
    animation-direction: alternate
    animation-fill-mode: none
    animation-play-state: running

@mixin btn
    @include flex
    border: 0
    line-height: 1
    font-size: $rem
    font-weight: $weight600
    height: calc($rem*3)
    padding: 0 calc($rem*1.5)
    background-color: $turquoise
    border-radius: $bradius16
    cursor: pointer
    &:hover
        opacity: .65
    &:active
        opacity: .85
        transform: translateY(1px)

@mixin btn-transparent
    @include btn
    color: $turquoise
    background-color: transparent
    padding: 0
body
    @include reset-list

@mixin component
    max-height: 790px
    overflow: hidden
    background-color: $black
    border-radius: calc($rem * 2)
    box-shadow: 0px 5px 12px 0px rgba(0,0,0,0.3) 

@mixin btn-switch
    position: relative
    display: inline-block
    width: calc($rem * 3.5)
    height: calc($rem * 2)

    input[type="checkbox"]
    opacity: 0
    width: 0
    height: 0
        &:checked + span 
        background-color: $btn-bg-clr-checked  
        &:focus + span 
        box-shadow: 0 0 1px #2196F3
        &:checked + span:before
        -webkit-transform: translateX(26px)
        -ms-transform: translateX(26px)
        transform: translateX(26px)
    span
        border-radius: 34px 
        position: absolute
        cursor: pointer
        top: 0
        left: 0
        right: 0
        bottom: 0
        background-color: #ccc
        -webkit-transition: .4s
        transition: .4s   
        &:before
            border-radius: 50%
            position: absolute
            content: ""
            height: 26px
            width: 26px
            left: 4px
            bottom: 4px
            background-color: white
        input:hover + span:before, input:focus + span:before 
	        box-shadow: rgb(118 69 217) 0px 0px 0px 1px, rgb(118 69 217 / 60%) 0px 0px 0px 4px
            
   
