@import 'https://fonts.googleapis.com/css2?family=Kanit:wght@400;600&display=swap';
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

img {
  width: 100%;
}

.btn, .transaction-btn, .close-settings, .bottone, .bottone-ingranaggio, .bottone-lingue, .close-storage {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border: 0;
  line-height: 1;
  font-size: 1rem;
  font-weight: 600;
  height: 2rem;
  padding: 0 1rem;
  background-color: #1fc7d4;
  color: #fff;
  border-radius: 1rem;
  cursor: pointer;
}
.btn:hover, .transaction-btn:hover, .close-settings:hover, .bottone:hover, .bottone-ingranaggio:hover, .bottone-lingue:hover, .close-storage:hover {
  opacity: 0.65;
}
.btn:active, .transaction-btn:active, .close-settings:active, .bottone:active, .bottone-ingranaggio:active, .bottone-lingue:active, .close-storage:active {
  opacity: 0.85;
  transform: translateY(1px);
}

.btn-transparent, .bottone-ingranaggio, .bottone-lingue {
  @extends .btn;
  color: #1fc7d4;
  background-color: transparent;
  padding: 0;
}

.btn-switch, .switch-button, .switch-theme-btn {
  position: relative;
  display: inline-block;
  width: 3.5rem;
  height: 2rem;
}
.btn-switch input[type=checkbox], .switch-button input[type=checkbox], .switch-theme-btn input[type=checkbox] {
  opacity: 0;
  width: 0;
  height: 0;
}
.btn-switch input[type=checkbox]:checked + span, .switch-button input[type=checkbox]:checked + span, .switch-theme-btn input[type=checkbox]:checked + span {
  background-color: #31d0aa;
}
.btn-switch input[type=checkbox]:focus + span, .switch-button input[type=checkbox]:focus + span, .switch-theme-btn input[type=checkbox]:focus + span {
  box-shadow: 0 0 1px #2196F3;
}
.btn-switch input[type=checkbox]:checked + span:before, .switch-button input[type=checkbox]:checked + span:before, .switch-theme-btn input[type=checkbox]:checked + span:before {
  transform: translateX(24px);
}
.btn-switch span, .switch-button span, .switch-theme-btn span {
  display: flex;
  align-items: center;
  border-radius: 34px;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}
.btn-switch span:before, .switch-button span:before, .switch-theme-btn span:before {
  border-radius: 50%;
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 3px;
  background-color: white;
}
.btn-switch span input:hover + span::before, .switch-button span input:hover + span::before, .switch-theme-btn span input:hover + span::before, .btn-switch span input:focus + span::before, .switch-button span input:focus + span::before, .switch-theme-btn span input:focus + span::before {
  box-shadow: rgb(118, 69, 217) 0px 0px 0px 1px, rgba(118, 69, 217, 0.6) 0px 0px 0px 4px;
}

nav {
  background-color: #27262c;
  width: 100%;
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 0 1rem 0 1rem;
  color: #b8add2;
  position: fixed;
  border-bottom: 1px solid #383241;
}

.mobile-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: fixed;
  bottom: 0px;
  width: 100%;
  padding-top: 5px;
  padding-right: 8px;
  padding-left: 8px;
  background: rgb(39, 38, 44);
  border-top: 1px solid rgb(56, 50, 65);
  z-index: 20;
  gap: 0;
}

body, a, button {
  font-family: "Kanit", sans-serif;
}
body ::-webkit-scrollbar, a ::-webkit-scrollbar, button ::-webkit-scrollbar {
  width: 8px;
}
body ::-webkit-scrollbar-thumb, a ::-webkit-scrollbar-thumb, button ::-webkit-scrollbar-thumb {
  background: rgb(184, 173, 210);
  border-radius: 8px;
}
body ::-webkit-scrollbar-track, a ::-webkit-scrollbar-track, button ::-webkit-scrollbar-track {
  box-shadow: rgb(55, 47, 71) 0px 0px 5px inset;
  border-radius: 10px;
}

.warning {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 100%;
  gap: 0;
}

.coniglio-storage {
  width: 5.75rem;
}

.span1 {
  color: #ffb237;
  font-weight: 600;
  line-height: 1.5;
  font-size: 0.875rem;
  text-transform: uppercase;
  margin-right: 4px;
}

.span3, .span2-4 {
  color: rgb(255, 255, 255);
  font-weight: 600;
  line-height: 1.5;
  font-size: 0.875rem;
  margin-right: 4px;
}

.span2-4 {
  color: rgb(189, 194, 196);
  font-weight: 400;
}

.phishing {
  width: 60%;
  height: 80%;
  background: rgba(39, 38, 44, 0.4);
  border-radius: 1rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.storage {
  width: 100%;
  height: 4.375rem;
  background: linear-gradient(#7645D9, #452A7A);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  gap: 0;
}

.close-storage {
  background: transparent;
  width: 3rem;
  cursor: pointer;
  border: none;
}

.logo, .links {
  display: flex;
  align-items: center;
  height: 100%;
}

.sinistra, .destra, .svg-nav, .nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  gap: 0;
}

.link-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  gap: 0;
  height: 100%;
  margin-left: 1.6rem;
}

.links {
  padding: 1rem;
  position: relative;
}
.links:hover {
  background: #353547;
  border-radius: 1rem;
  padding: 0 1rem;
  height: 3rem;
}
.links:hover .content-trade {
  display: block;
}

.destra, .svg-nav {
  justify-content: flex-end;
}

.money {
  display: flex;
  margin-right: 1rem;
  font-weight: 600;
  cursor: pointer;
}
.money:hover .coniglio-nav {
  margin-right: 0.6rem;
  transition: transform 0.3s ease 0s;
  transform: scale(1.2);
}
.money .coniglio-nav {
  margin-right: 0.6rem;
  transition: transform 0.3s ease 0s;
}
.money .coniglio-nav:hover {
  transform: scale(1.2);
}

.bottoni-destra {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-right: 0.6rem;
}

.bottone, .bottone-ingranaggio, .bottone-lingue {
  font-family: "Kanit", sans-serif;
}
.bottone:hover, .bottone-ingranaggio:hover, .bottone-lingue:hover {
  transition-property: background-color, opacity;
  transition-duration: 0.2s, 0.2s;
  transition-timing-function: ease, ease;
  transition-delay: 0s, 0s;
}

.bottone-ingranaggio, .bottone-lingue {
  margin-right: 0.2rem;
  cursor: pointer;
}
.bottone-ingranaggio:hover, .bottone-lingue:hover {
  opacity: 1;
}
.bottone-ingranaggio:active, .bottone-lingue:active {
  opacity: 1;
  transform: translateY(0);
}

.lista-lingue, .bottone-lingue {
  position: relative;
  cursor: pointer;
  text-align: center;
}
.lista-lingue ::-webkit-scrollbar, .bottone-lingue ::-webkit-scrollbar {
  width: 8px;
}
.lista-lingue ::-webkit-scrollbar-thumb, .bottone-lingue ::-webkit-scrollbar-thumb {
  background: rgb(184, 173, 210);
  border-radius: 8px;
}
.lista-lingue ::-webkit-scrollbar-track, .bottone-lingue ::-webkit-scrollbar-track {
  box-shadow: rgb(55, 47, 71) 0px 0px 5px inset;
  border-radius: 10px;
}
.lista-lingue:hover > div, .bottone-lingue:hover > div {
  opacity: 1;
  max-height: 400px;
  overflow-y: auto;
  transition: max-height 0s ease 0s, opacity 0.3s ease-in-out 0s;
  pointer-events: auto;
}
.lista-lingue div, .bottone-lingue div {
  position: absolute;
  display: flex;
  opacity: 0;
  flex-direction: column;
  z-index: 1;
  background-color: #27262c;
  padding: 16px;
  border-radius: 4px;
  max-height: 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  transform: translate(-50%, 0px);
  left: 50%;
  top: 100%;
  transition: max-height 0s ease 0.3s, opacity 0.3s ease-in-out 0s;
  pointer-events: none;
  overflow: hidden;
}
.lista-lingue div a, .bottone-lingue div a {
  color: rgb(244, 238, 255);
  font-weight: 600;
  line-height: 1.5;
  min-height: 32px;
  padding: 0 8px;
  letter-spacing: 0.03rem;
}
.lista-lingue div a:hover, .bottone-lingue div a:hover {
  text-decoration: none;
  opacity: 0.65;
}
.center-logo {
  height: 100%;
  display: flex;
  align-items: center;
}

.content-trade {
  display: none;
  position: absolute;
  top: 100%;
  background-color: #27262c;
  border: 1px solid #383241;
  border-radius: 1rem;
  width: 17.5rem;
  padding: 4px 0;
  transform: translate(-15px, 2px);
}

.riga-divisoria {
  margin: 4px 0;
  border-color: #383241;
  border-style: solid;
  border-width: 1px 0px 0px;
}

.spigoli-sopra {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.spigoli-sotto {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.dropdown-a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0 1rem;
  height: 3rem;
  width: 100%;
  color: #b8add2;
  text-decoration: none;
  justify-content: space-between;
}
.dropdown-a:hover {
  background-color: #353547;
}

.opacity-hover:hover, .lista-lingue a:hover, .bottone-lingue a:hover {
  opacity: 0.65;
}
.opacity-hover:active, .lista-lingue a:active, .bottone-lingue a:active {
  transform: translateY(1px);
}

@-webkit-keyframes occhi {
  0%, 100% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(0.1);
  }
}

@keyframes occhi {
  0%, 100% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(0.1);
  }
}
.popup-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(244, 238, 255, 0.6);
}

.hidden, .logo-966 {
  display: none;
}

.popup-component {
  max-height: 790px;
  overflow: hidden;
  background-color: #27262c;
  border-radius: 2rem;
  box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
  min-width: 20rem;
  gap: 0;
  z-index: 1;
}

.settings-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  color: #f4eeff;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.8rem 1.5rem;
  background: linear-gradient(166.77deg, #3b4155 0%, #3a3045 100%);
}

.settings-body {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
  width: 100%;
  padding: 1.5rem;
}

.settings-global {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 0;
}

.global-title {
  color: #9a6aff;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 1.5;
  margin-bottom: 1.5rem;
  gap: 0;
}

.switch-mode {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  justify-content: space-between;
  gap: 0;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.dark-mode {
  color: #f4eeff;
  font-weight: 400;
  line-height: 1.5;
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

.setting-transaction {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0;
  width: 100%;
}

.close-settings {
  background-color: transparent;
}

.transaction-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  gap: 0;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 12px;
}

.transaction-title {
  color: #f4eeff;
  margin-right: 2px;
}

.transaction-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  gap: 0;
  padding-bottom: 1.5rem;
}

.transaction-btn {
  background-color: #353547;
  transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
  color: #1fc7d4;
  margin: 4px 4px 0 0;
}
.transaction-btn:focus {
  color: #fff;
  background-color: #1fc7d4;
}

.switch-theme-btn input:checked + span {
  background-color: #666171 !important;
}
.switch-theme-btn span {
  justify-content: space-around;
}
.switch-theme-btn input:checked + span::before {
  background: url("../../moon-dark-theme.svg");
  background-repeat: no-repeat;
  background-color: rgb(39, 38, 44);
  height: 24px;
  width: 24px;
  background-position: right 1px bottom 3px;
}
.switch-theme-btn span::before {
  background: url("../../sun-light-theme.svg");
  background-position: left 50% bottom 50%;
  background-repeat: no-repeat;
  background-color: rgb(255, 255, 255);
  height: 24px;
  width: 24px;
  left: 4px;
  box-shadow: rgb(118, 69, 217) 0px 0px 0px 1px, rgba(118, 69, 217, 0.6) 0px 0px 0px 4px;
  transition: 0.3s ease-in-out;
}

.switch-button span {
  background-color: #372f47;
}
.switch-button span::before {
  background-color: #27262c;
  transition: 0.3s ease-in-out;
}
.switch-button input[type=checkbox]:hover + span:before {
  box-shadow: rgb(118, 69, 217) 0px 0px 0px 1px, rgba(118, 69, 217, 0.6) 0px 0px 0px 4px;
}
.switch-button input[type=checkbox]:focus + span:before {
  box-shadow: rgb(118, 69, 217) 0px 0px 0px 1px, rgba(118, 69, 217, 0.6) 0px 0px 0px 4px;
}
.switch-button input[type=checkbox]:checked + span:before {
  box-shadow: rgb(118, 69, 217) 0px 0px 0px 1px, rgba(118, 69, 217, 0.6) 0px 0px 0px 4px;
}

.animation-popup-bg {
  -webkit-animation-name: animation-popup;
          animation-name: animation-popup;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-play-state: running;
          animation-play-state: running;
  pointer-events: all;
}

@-webkit-keyframes animation-popup {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes animation-popup {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.animation-popup-bg-close {
  -webkit-animation-name: animation-popup-close;
          animation-name: animation-popup-close;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-play-state: running;
          animation-play-state: running;
  pointer-events: none;
}

@-webkit-keyframes animation-popup-close {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes animation-popup-close {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.overlay-bg {
  width: 100vw;
  height: 100vh;
  position: absolute;
}

@media screen and (max-width: 966px) {
  .logo-desktop {
    display: none;
  }
  .logo-966 {
    display: block;
  }
}
@media screen and (max-width: 851px) {
  .coniglio-storage {
    display: none;
  }
  .phishing {
    background: transparent;
    width: 100%;
  }
  .storage {
    background: linear-gradient(0deg, rgba(39, 38, 44, 0.4), rgba(39, 38, 44, 0.4)), linear-gradient(rgb(128, 81, 214) 0%, #492286 100%);
  }
  .money {
    display: none;
  }
}
@media screen and (max-width: 575px) {
  .link-container {
    display: none;
  }
}
body {
  font-family: "Kanit", sans-serif;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

@media screen and (min-width: 640px) {
  .container {
    width: 1152px;
    max-width: 1152px;
  }
}
@media screen and (max-width: 639px) {
  .container {
    width: 100%;
  }
}/*# sourceMappingURL=base.css.map */